@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200;400;700&display=swap');

* { padding: 0; margin: 0; }
html, body { height: 100%; }

:root {
    /* --primary-color: #303030; */
    --primary-color: #000000;
    --accent-color: #ffd200;
    --bright-color: #FFFFFF;
}

body {
    font-family: 'Handjet', cursive;
    background-color: var(--primary-color);
    color: var(--bright-color);
}

.img-icon {
    width: 20px;
    height: 20px;

    margin-left: 5px;
}

header {
    width: 100vw;
    height: 500px;

    background-image: url('assets/img/backdrop.webp');
    background-size: cover;
    background-position: 0px;
    background-repeat: no-repeat;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.75);
}

header img {
    border-radius: 1000px;
    width: 200px;
    height: 200px;

    z-index: 1;
}

header h1 {
    color: var(--accent-color);

    font-size: 3.5rem;

    z-index: 1;
}

header p {
    color: var(--bright-color);

    font-size: 1.5rem;

    z-index: 1;
}

section {
    padding: 100px 10% 0 10%;
}

section h1 {
    font-size: 3.5rem;
}

section h3 {
    font-size: 2.5rem;
}

section h4 {
    font-size: 1.5rem;
}

section p {
    font-size: 1.5rem;
}

section ul {
    padding-left: 1rem;
}

section ul li:has(.img-icon) {
    display: flex;
    align-items: center;
}

section a {
    color: var(--bright-color);

    font-size: 1.5rem;

    transition: 0.2s ease-in-out;
}

section a:hover {
    color: var(--accent-color);
}

#details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.container {
    flex: 1;

    height: fit-content;
}

.container ul li {
    font-size: 1.5rem;
}

.info {
    color: var(--accent-color);
    font-size: 1rem;
    font-weight: 200;
}


@media (max-width:812px) {
    #details {
        flex-direction: column;
    }
}

